.form-page {
  display: none;
}

form {
 background-image: linear-gradient(to top left, rgb(9, 157, 177), rgb(181, 246, 246));
}

.output {
  display: none;
}

form {
padding: 50px 50px 50px 200px;
}
