.jumbotron {
  background-image: linear-gradient(to top left, rgb(12, 24, 26), rgb(58, 124, 124));
}

.jumbotron h1 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color:  rgb(245, 234, 199);
  font-family: papyrus;
}

.intro-page{
  background: rgb(248, 247, 244);
  padding: 30px;
}

.intro-page h1 {
  font-size: 50px;
  font-weight: bolder;
  font-family: papyrus;
  text-align: center;
  color:  rgb(241, 44, 103);
}

.intro-page h2 {
  font-family: papyrus;
  text-align: center;
  color: rgba(146, 34, 103, 0.561);
}
.form-page {
  display: none;
}

form {
 background-image: linear-gradient(to top left, rgb(9, 157, 177), rgb(58, 124, 124));
}

.output {
  display: none;
}

form {
padding: 50px 50px 50px 200px;
}
