.jumbotron {
  background-image: linear-gradient(to top left, rgb(0, 0, 0), rgb(83, 83, 83));
}

.jumbotron h1 {
  font-size: 100px;
  text-align: center;
  font-weight: bold;
  color:  rgb(245, 234, 199);
  font-family: papyrus;
}

.intro-page{
  background: rgb(248, 247, 244);
  padding: 30px;
}

.intro-page h1 {
  font-size: 50px;
  font-weight: bolder;
  font-family: papyrus;
  text-align: center;
  color:  rgb(241, 44, 103);
}

.intro-page h2 {
  font-family: papyrus;
  text-align: center;
  color: rgba(146, 34, 103, 0.561);
}

.form-page {
  display: none;
}

.form-page {
  background-image: url(../img/pizza.jpg);
}

form {
 color: rgb(255, 255, 255);
 font-size: 30px;
}

label{
  font-size: 40px;
}

.output {
  display: none;
  background-color: white;
  margin-top: 3%;
  border: 2px solid rgb(134, 3, 3);
  padding: 10px;
  border-radius: 10px;
  color: rgba(4, 42, 73, 0.644);
  font-family: verdana;
  font-size: 30px;
}

form {
padding: 50px 50px 50px 200px;
}
